<h1>Home</h1>
User Signed-In Links:
<ul>
	<li><%= link_to "All Receipts", receipts_path %></li>
	<li><%= link_to "Create Receipt", new_receipt_path %></li>
	<li><%= link_to "Change your password", edit_user_registration_path %></li>
</ul>


