<h1><%= current_user.email %>'s Reciepts </h1>

<div>  	
	<ul>
	  <% current_user.receipts.each do |receipt| %>
	  <!-- for current_user.receipts do |receipt| -->
	  <!-- @receipts.each do |receipt| -->
</div>
			<li>
			  <strong><%= receipt.title %></strong>  |  <%= link_to "See Receipt", receipt_path(receipt) %>
			</li>	
  	<% end %>
	</ul>