<h1 text-primary><%= current_user.first_name %>'s Reciepts </h1>

<div>  	
	<ul>
	  <% current_user.receipts.each do |receipt| %>
		<li>
		  <strong><%= receipt.title %></strong>  |  <%= link_to "See Receipt", receipt_path(receipt) %>
		</li>
	</ul>	
  	<% end %>
</div>
