<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h1 class="text-center text-primary">Create A New Receipt</h1>
		<%= simple_form_for(@receipt, html: { class: 'form-horizontal' }) do |f| %>
		<%= f.input :title, hint: "Choose an identifing name, ex: 'Kid's Winter Clothes Donations'" %> 
		<%= f.button :submit, "Create Receipt!" %>
		<%end%>
	</div>
</div>

